body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #e0e0e0;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 1.5em;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 1em;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    padding: 0.5em 0.8em;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #ddd;
    color: #000;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 2em;
    flex-wrap: wrap;
}

.clickable-image {
    
    overflow: hidden;
    width: 35em;
    height: 35em;
    margin: 5em;
    flex-direction: row;
}

.clickable-image a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.clickable-image img {
    box-shadow:0.3em 0.5em 0.5em rgb(58, 57, 57);
    border-radius: 2em;
    width: 30em;
    height: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.5em;
}

.image-info {
    padding: 1em;
    text-align: center;
}

.image-info h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.image-info p {
    margin-top: 0;
}

footer {
    background-color: #e0e0e0;
    color: #777;
    font-size: 0.8em;
    padding: 1em;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 600px;
    margin: 0 auto;
}

.footer-content p {
    margin-bottom: 0.5em;
}

.footer-content a {
    color: #337ab7;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}

.social-links {
    margin-top: 0.5em;
}